Repository nminaya/grammar-nazi-bot, pull requests merged in 2021-04, with the labels that each got.

#181 Fix follow back issue
  GrammarNazi.App/HostedServices/TwitterBotHostedService.cs
Labels: twitter

#182 Show option selected after update
  GrammarNazi.Core/BotCommands/Discord/LanguageCommand.cs
  GrammarNazi.Core/BotCommands/Discord/SetAlgorithmCommand.cs
Labels: discord, enhancement

#186 Verify access to protected accounts before getting their timeline
  GrammarNazi.App/HostedServices/TwitterBotHostedService.cs
  GrammarNazi.Tests/HostedServices/TwitterBotHostedServiceTests.cs
Labels: twitter

#189 Add null verification for string
  GrammarNazi.Core/Services/GrammarServices/DatamuseApiService.cs
Labels: enhancement

#199 Fix different threads concurrently using the same DbContext
  GrammarNazi.App/HostedServices/TelegramBotHostedService.cs
  GrammarNazi.Tests/HostedServices/TelegramBotHostedServiceTests.cs
Labels: telegram

#200 GitHub service improvement
  GrammarNazi.Core/Services/GithubService.cs
Labels: enhancement

#203 Await tasks
  GrammarNazi.App/HostedServices/TwitterBotHostedService.cs
Labels: twitter

#204 SqlServer DbContext Configuration extension
  GrammarNazi.App/GrammarNazi.App.csproj
  GrammarNazi.App/Startup.cs
  GrammarNazi.Core/Extensions/ServiceCollectionExtensions.cs
  GrammarNazi.Core/GrammarNazi.Core.csproj
Labels: enhancement

#205 Little refactor
  GrammarNazi.App/HostedServices/TelegramBotHostedService.cs
  GrammarNazi.Tests/HostedServices/TelegramBotHostedServiceTests.cs
Labels: telegram

#207 Add value comparer
  GrammarNazi.Core/GrammarNaziContext.cs
Labels: enhancement

#213 Fix text Sentiment Analysis
  GrammarNazi.App/Startup.cs
  GrammarNazi.Core/Clients/MeaningCloudSentimentAnalysisApiClient.cs
  GrammarNazi.Core/Services/MeaningCloudSentimentAnalysisService.cs
  GrammarNazi.Domain/Clients/IMeaningCloudSentimentAnalysisApiClient.cs
  GrammarNazi.Domain/Entities/LanguageIdentificationAPI/SentimentAnalysis/PolarityTermList.cs
  GrammarNazi.Domain/Entities/LanguageIdentificationAPI/SentimentAnalysis/SegmentList.cs
  GrammarNazi.Domain/Entities/LanguageIdentificationAPI/SentimentAnalysis/SentenceList.cs
  GrammarNazi.Domain/Entities/LanguageIdentificationAPI/SentimentAnalysis/SentimentAnalysisRequest.cs
  GrammarNazi.Domain/Entities/LanguageIdentificationAPI/SentimentAnalysis/SentimentAnalysisResult.cs
  GrammarNazi.Domain/Entities/LanguageIdentificationAPI/SentimentAnalysis/SentimentedConceptList.cs
  GrammarNazi.Domain/Entities/SentimentAnalysisResult.cs
Labels: enhancement
