Repository nminaya/grammar-nazi-bot, pull requests merged in 2021-06, with the labels that each got.

#245 Handle missing permissions
  GrammarNazi.App/HostedServices/DiscordBotHostedService.cs
Labels: discord

#254 Avoid adding duplicates
  GrammarNazi.Core/Services/ChatConfigurationService.cs
Labels: telegram

#261 Handle twitter servers overloaded
  GrammarNazi.App/HostedServices/Twitter/TwitterBotMentionHostedService.cs
Labels: twitter

#264 Used ITelegramBotClient extensions for polling updates
  GrammarNazi.App/GrammarNazi.App.csproj
  GrammarNazi.App/HostedServices/TelegramBotHostedService.cs
Labels: telegram
